.product-page {
  // width: 100%;
  // display: flex;
  // position: relative;
  // top: 150px;
  // @include filterInSmall {
  //   justify-content: center;
  //   display: grid;
  //   grid-template-columns: 80%;
  //   justify-items: center;
  // }
  // display: grid;
  // height: 100vh;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: 0.25fr 1.5fr 1.2fr 0.8fr;
  // grid-template-areas:
  //   "NavBar NavBar NavBar NavBar"
  //   "ProductGrid ProductGrid ProductGrid Filters"
  //   "ProductGrid ProductGrid ProductGrid Filters"
  //   "Footer Footer Footer Footer";
  // grid-gap: 0.2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    grid-row-gap: 4rem;
    height: fit-content;
    align-items: center;
  
    .shop-card{
      margin-left: auto;
      margin-right: auto;
    }
    // @include filterInSmall {
    //   margin-top: 15%;
    // }
  }
  // .filter {
  //   display: flex;
  //   flex-direction: column;
  //   background-color: $filterBgcolor;
  //   border-radius: $filterContainerRadius;
  //   height: fit-content;
  //   padding: $filterContainerPadding;
  //   h2 {
  //     display: none;
  //     text-align: center;
  //     color: $white;
  //     @include filterInSmall {
  //       display: block;
  //     }
  //     svg {
  //       position: relative;
  //       width: 25px;
  //       height: 25px;
  //       top: 5px;
  //     }
  //   }
  //   @include filterInSmall {
  //     #accordion-1 {
  //       margin-top: 20px;
  //     }
  //   }
  //   ul {
  //     display: none;
  //     height: 35px;
  //     position: relative;
  //     transition: all 0.5s ease;
  //     background-color: $filterULcolor;
  //     border-radius: $radiusPrimary;
  //     margin-bottom: $filterUlMargin;
  //     padding: $filterUlPadding;
  //     border: $filterUlBorder;
  //     color: $white;
  //     white-space: nowrap;
  //     > span {
  //       padding-right: 10px;
  //       display: flex;
  //       justify-content: space-between;
  //       svg {
  //         padding-bottom: 10px;
  //       }
  //     }
  //     @include filterInLg {
  //       display: flex !important;
  //       flex-direction: column;
       
  //     }
  //   }
  // }
  // .filterItems {
  //   display: none;
  //   flex-direction: column;
  //   position: relative;
  //   top: -19px;
  //   border-radius: $filterItemsRadius;
  //   background-color: $white;
  //   padding: $filterItemsPadding;
  
  //   span {
  //     display: flex;
  //     padding-right: 10px;
  //     align-items: center;
  //     label {
  //       padding-right: 10px;
  //       color: $black;
  //     }
  //   }
  // }
  
  .filters{
    height: 100vh;
    background-color: red;
    border-radius: 10px;
    width: 100px  ;
  }