@import '../../../scss/variables';

.search-inp {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: $element-margin 0;

  button {
    position: absolute;
    top: 0;
    left: 0;
    @include box(25px);
    transform: translate(50%, 25%);
    svg {
      @include box(25px);
      path {
        transition: $main-transition;
        fill: color(secondary, light);
      }
    }
    &:hover svg path {
      fill: color(secondary);
    }
  }

  input {
    width: 100%;
    background-color: color(white);
    padding: $serach-m-padding;
    border-radius: $search-m-radius;
    font-size: 1.4rem;
    text-align: right;
    color: color(black);
  }
}

.search-desktop {
  width: 18em !important;
}
.search-mobile {
  width: 100%;
}
