@import '../../scss/variables';

.aboutus {
  width: 100%;
  position: relative;
  margin-top: $section-margin;
}

.aboutus-bg {
  max-width: 75em;
  top: 0;
  position: absolute;
  width: 80%;
  height: 900px;
  background-color: color(secondary, dark);
  z-index: -1;
  border-radius: 20px 0 0 20px;
  transition: $main-transition;
  transform-origin: right;
  transform: scale(0, 1);
  @include Desktop {
    transform: scale(1, 1);
  }
  @include Desktop-l {
    transform-origin: top;
  }
  @include Desktop-xl {
    transform: scale(1, 0.7);
  }
}

.aboutus-container {
  display: flex;
  flex-direction: column;
  @include Desktop-xl {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.aboutus-intro {
  max-width: 40em;
  h3 {
    font-size: 2rem;
    display: flex;
    color: color(black);
    margin-top: $element-margin;
    span {
      color: color(primary, light);
      margin-right: 0.4pc;
    }
  }
  p {
    margin-top: $small-margin;
    color: color(black, light);
  }
  @include Desktop {
    h3 {
      color: color(white);
    }
    p {
      color: color(white, dark);
    }
  }
  // @include Desktop-xl {
  //   width: 40% !important;
  // }
}

.info-cards {
  width: 100%;
  margin-top: 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .card-box {
    @include between(column);
    @include Desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      width: fit-content;
    }
  }
  @include Desktop-xl {
    width: fit-content !important;
  }
}
