@import '../../scss/variables';

.btn {
  @include between();
  padding: $btn-padding;
  border-radius: $btn-radius;
  transition: $main-transition;

  .btn-icon {
    margin-right: 1em;
    svg {
      height: 20px;
      path {
        transition: $main-transition;
      }
    }
  }
}

// ? variants
.btn-primary {
  background-color: color(primary, light);
  color: color(white);
  &:hover {
    background-color: color(primary);
  }
}

.btn-secondary {
  border: solid 1px color(secondary);
  color: color(secondary);
  .btn-icon path {
    fill: color(secondary);
  }

  &:hover {
    background-color: color(secondary);
    color: color(white);
    .btn-icon path {
      fill: color(white);
    }
  }
}

.btn-card {
  background-color: color(primary, light);
  color: color(white);
  .btn-icon path {
    fill: color(white);
  }

  &:hover {
    background-color: color(primary);
  }
}

.tool-button {
  @include between();
  background-color: color(white, light);
  padding: $filter-tools-padding;
  border-radius: $card-radius;
  white-space: nowrap;
  img {
    @include box(1.5em);
    margin-right: 1em;
  }
}