@import "../../scss/variables";

.ComingUpNav {
  width: 100%;
  padding: $list-padding;
  @include fixedNav();
  border-radius: $fixed-nav-radius;
  @include between(column);
 
}

.overlay {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 998;
}
