@import "../../scss/variables";

.filters {
  .filter-items-desktop {
    display: none;
  }
  width: 90%;
  @include Desktop {
    height: fit-content;
    border-radius: $card-radius;
    margin-inline: auto;
    background-color: color(secondary, dark);
    .filter-items-desktop {
      list-style: none;
      @include between(column);
      width: 80%;
      margin: 2em;
      li {
        background-color: color(white, light);
        padding: $filter-items-padding;
        margin-bottom: $element-margin;
        width: 100%;
        // white-space: nowrap;
        border-radius: $btn-radius;
        @include between();
        label {
          margin-right: 3em;
        }
        input {
          margin-left: 3em;
        }
      }
    }
  }
  @include between(column);
  .filter-tools {
    width: 100%;
    margin-top: $section-margin;
    display: flex;
    justify-content: space-around;
    .btn-tool {
      background-color: color(white, light);

      img {
        @include box(1em);
        margin-right: 1em;
      }
    }
    @include Desktop {
      display: none;
    }
  }
  .filter-items-field {
    padding: $list-padding;
    @include fixedNav();
    border-radius: $fixed-nav-radius;
    @include between(column);
    .filter-items {
      @include between();
      width: 20em;
      margin-bottom: $element-margin;
    }
    h3 {
      margin-bottom: $element-margin;
    }
  }
}

.filter-items-field > * {
  margin: $section-margin;
}

.filter-items-field > ul {
  width: 70%;
}
.filter-items-field > ul > li > * {
  margin: $element-margin;
  @include between();
}
