@import "../../scss/variables";

// .filters {
//   width: 80%;
//   height: 50em;
//   // height: fit-content;
//   background-color: color(secondary,dark);
//   border-radius: $card-radius;
//   margin-inline: auto;

// }

// .filters {
//   @include Mobile {

//   }
// }
.filters {
  color: color(black);
  @include between(column);
  position: relative;
  .filter-tools {
    width: 100%;
    margin-top: $section-margin;
    display: flex;
    justify-content: space-around;
    .btn-tool {
      @include between();
      background-color: color(white, light);
      padding: $filter-tools-padding;
      border-radius: $card-radius;
      white-space: nowrap;
      img {
        @include box(1.5em);
        margin-right: 1em;
      }
    }
    button:first-child {
      @include Desktop {
        display: none;
      }
    }
    button:last-child {
      @include Desktop {
        padding: $btn-padding;
      }
    }
  }
  .filter-items-field {
    padding: $list-padding;
    @include fixedNav();
    border-radius: $fixed-nav-radius;
    @include between(column);
    .filter-items {
      @include between();
      width: 20em;
      margin-bottom: $element-margin;
    }
    h3 {
      margin-bottom: $element-margin;
    }
  }
}

.filter-items-field > * {
  margin: $section-margin;
}

.filter-items-field > ul {
  width: 70%;
}
.filter-items-field > ul > li > * {
  margin: $element-margin;
  @include between();
}
