@import "../../scss/variables";
@import "../../scss/utilities";

.shop-card {
  width: 15em;
  @include between(column);
  border-radius: $shopCard-radius;
  overflow: visible;
  box-shadow: $cardShadow;
  margin-right: $element-margin;
  height: $shopCard-height;
  background-color: color(white, light);

  > span {
    font-size: inherit;
    margin-bottom: 1em;
    }

  > img {
    height: 140px;
    width: 165px;
    margin-top: 25px;
  }
  > button {
    margin-bottom: -10%;
  }
}
@import '../../scss/variables';
