@import '../../scss/variables';

.heading {
  margin-bottom: $element-margin;
  color: color(black);
  display: flex;
  flex-direction: column;
  @include Desktop {
    flex-direction: row;
  }
  @include Desktop-l {
    font-size: 4.2rem;
  }
  @include Desktop-xl {
    font-size: 4.8rem;
  }
  span:last-child {
    color: color(primary);
    @include Desktop {
      margin-right: 0.5pc;
    }
  }
}
