@import '../../scss/variables';
@import '../../scss/_utilities.scss';

// *
// * Mobile top navbar styling
// *
.header {
  position: relative;
  width: 100%;
}
.navbar {
  @include between();
  z-index: 1000;
  transition: $main-transition;
  height: 4.5em;
  position: relative;
  background-color: color(white, light);

  .before {
    @include pseudo();
    left: 0;
    width: 100%;
    background-color: color(black);
    height: 100%;
    z-index: -1;
    transition: $secondary-transition;
  }
  span {
    display: block;
  }
}
.nav-logo svg {
  width: 150px;
  height: 50px;
  transform: translateX(12%);
}
.nav-cart svg {
  width: 27px;
  height: 27px;
  path {
    transition: $main-transition;
    transition-delay: 0.1s;
  }
}
// *
// * syling mobile navbar list
// *
.nav-list-container {
  position: absolute;
  width: 100%;
  background-color: color(black);
  top: 100%;
  left: 0;
  right: 0;
  // z-index: -1;
  transition: $secondary-transition;
  min-height: calc(100vh - 4.5em);
}
.nav-list {
  @include between(column);
  padding-top: $list-padding;
  padding-bottom: $list-padding;

  > li {
    width: 100%;
    position: relative;
    &:not(:last-of-type)::after {
      @include pseudo();
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: color(white, dark);
    }
  }
}

// * mobile navbar list > links & buttons
.nav-links {
  padding: $link-padding;
  color: color(white);
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  @include between();
  transition: $main-transition;

  // ? hover for nav links and buttons
  &:hover {
    background-color: color(black, light);
  }
}

// ?
// ? mobile nav sub list (options)
// ?
.nav-sub-list {
  width: 95%;
  margin-right: 5%;
  transition: $secondary-transition;
  transform-origin: top;

  // * seperator line in sub nav list
  li {
    position: relative;
    &::after {
      @include pseudo();
      width: 105%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: color(black, light);
    }
  }

  a {
    color: color(white);
    @include between();
    padding: $link-padding;
    transition: $main-transition;

    &:hover {
      background-color: color(black, light);
    }
  }
}
.sub-btn span svg {
  transition: $main-transition;
}

// ?
// ? mobile sign up button
// ?
.signup-btn {
  color: color(white, dark);
  margin-top: $element-margin;
  font-size: 1.4rem;
  &:hover {
    text-decoration: underline;
    color: color(white);
  }
}

// !
// ! clicked classes
// !

// *
// * ham menu click...
// *
// ? uc => unClicked & c => clicked

// * top mobile nav icons
.icon-color-switch-uc {
  fill: color(black);
}
.icon-color-switch-c {
  fill: color(white);
}
.stroke-uc {
  stroke: color(black);
}
.sroke-c {
  stroke: color(white);
}

// * ham menu clicked -> nav lists open
.nav-list-uc {
  transform: translateX(100%);
}
.nav-list-c {
  transform: translateX(0);
}

// * nav sub list
.sub-uc {
  transform: translateX(120%);
  height: 0;
}
.sub-c {
  height: 100%;
  transform: translateX(0);
}

// * sub nav icon (arrow)
.arrow-uc span svg {
  transform: rotateZ(90deg);
}
.arrow-c span svg {
  transform: rotateZ(0);
}
