@import '../../scss/variables';
@import '../../scss/_utilities.scss';

// *
// * Mobile top navbar styling
// *
.header {
  position: relative;
  width: 100%;
}
.navbar {
  @include between();
  z-index: 1000;
  transition: $main-transition;
  height: 4.5em;
  position: relative;
  background-color: color(white, light);

  .before {
    @include pseudo();
    left: 0;
    width: 100%;
    background-color: color(black);
    height: 100%;
    z-index: -1;
    transition: $secondary-transition;
  }
  span {
    display: block;
  }
}
.nav-logo svg {
  width: 150px;
  height: 50px;
  transform: translateX(12%);
}
.nav-cart svg {
  width: 27px;
  height: 27px;
  path {
    transition: $main-transition;
    transition-delay: 0.1s;
  }
}
// *
// * syling mobile navbar list
// *
.nav-menu {
  position: absolute;
  width: 100%;
  background-color: color(black);
  top: 100%;
  left: 0;
  right: 0;
  transition: $secondary-transition;
  min-height: calc(100vh - 4.5em);
  > div {
    @include between(column);
  }
}

// ?
// ? mobile sign up button
// ?
.signup {
  width: 100%;
  text-align: center;
}
.signup-btn {
  color: color(white, dark);
  margin-top: $element-margin;
  font-size: 1.4rem;
  &:hover {
    text-decoration: underline;
    color: color(white);
  }
}

// !
// ! clicked classes
// !

// *
// * ham menu click...
// *
// ? uc => unClicked & c => clicked

// * top mobile nav icons
.icon-color-switch-uc {
  fill: color(black);
}
.icon-color-switch-c {
  fill: color(white);
}
.stroke-uc {
  stroke: color(black);
}
.sroke-c {
  stroke: color(white);
}

// * ham menu clicked -> nav lists open
.nav-list-uc {
  transform: translateX(100%);
}
.nav-list-c {
  transform: translateX(0);
}
