@import '../../scss/variables';
@import '../../scss/_utilities.scss';

// *
// * Mobile top navbar styling
// *
.navbar {
  position: relative;
  @include between();
  span {
    display: block;
  }
}
.nav-logo svg {
  width: 150px;
  height: fit-content;
}

// *
// * switching top navbar icon colors to black and white
// *
.color-switch {
  fill: color(black);
}

// *
// * syling mobile navbar list
// *
.nav-list {
  background-color: color(black);
  position: absolute;
  top: 100%;
  right: 0;
  @include between(column);
  padding-top: $list-padding;
  padding-bottom: $list-padding;
  > li {
    width: 100%;
    position: relative;
    &:not(:last-of-type)::after {
      @include pseudo();
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: color(white, dark);
    }
  }
}

// * mobile navbar list > links & buttons
.nav-links {
  padding: $link-padding;
  color: color(white);
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  @include between(row-reverse);
  transition: $main-transition;

  // ? hover for nav links and buttons
  &:hover {
    background-color: color(black, light);
  }
}

// ? mobile nav sub list (options)
.nav-sub-list {
  width: 100%;
  display: none;

  // * seperator line in sub nav list
  li {
    position: relative;
    &::after {
      @include pseudo();
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: color(black, light);
    }
  }

  a {
    color: color(white);
    @include between(row-reverse);
    padding: $link-padding;
    transition: $main-transition;

    &:hover {
      background-color: color(black, light);
    }
  }
}
