@import "../../../scss/variables";

.comments-section {
  h3 {
    margin: $section-margin;
  }
}
.comments {
  position: relative;
  &:not(:last-child)::after {
    @include pseudo();
    width: 60%;
    height: 1px;
    background-color: color(white, dark);
    position: absolute;
    top: 100%;
  }
  margin-bottom: $section-margin;
  width: 100%;
  @include between(column);
  .comment-card {
    position: relative;
    padding: 0 $section-margin;
    margin-bottom: $section-margin;
    margin-left: auto;
    @include between();
    width: 100%;
    justify-content: flex-start;

    .c-information {
      @include between(column);
      justify-content: center;
      color: color(white, dark);
      width: 45%;
      span {
        margin: $element-margin 0;
      }
      @include Desktop-m{
        width: 25%;
      }
    }
    .comment {
      position: relative;
      padding: 1em 2em;
      &::after {
        @include pseudo();
        height: 100%;
        width: 1px;
        background-color: color(black, light);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    
  }
  .strengths-card {
    padding: 0 $section-margin;
    margin-bottom: $section-margin;
    margin-left: auto;
    @include between();
    width: 100%;
    justify-content: flex-start;
    .strengths-title {
      width: 45%;
      color: color(white, dark);
      @include Desktop-m{
        width: 25%;
        text-align: center;
      }
    }
    .strengths {
      position: relative;
      padding: 1em 2em;
      &::after {
        @include pseudo();
        height: 100%;
        width: 1px;
        background-color: color(black, light);
        position: absolute;
        right: 0;
        top: 0;
      }
      svg {
        @include box(1em);
        margin-left: $element-margin;
      }
      span {
        @include between();
        justify-content: flex-start;
        margin-bottom: 2em;
      }
    }
  }
}
