@import '../../scss/variables';
@import '../../scss/utilities';

// ? footer itself
.page-footer {
  width: 100%;
  position: relative;
  background-color: color(secondary, dark);
  padding-top: 1.5em;
  border-radius: 2em 2em 0 0;
  margin-top: $section-margin;
}

// ?
// ? Footer Address
// ?
.footer-address {
  margin-top: $element-margin;
  display: flex;
  > div {
    height: 10em;
    padding: 1em $container-side-padding;
  }
}
.footer-icons {
  @include between(column);
  background-color: color(white);
  border-radius: 1em 0 0 1em;
  span img {
    height: 25px;
  }
}
.footer-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  span {
    color: color(white);
  }
}

// ?
// ? footer logo
// ?
.footer-logo {
  margin-top: $element-margin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
  }
}

// ?
// ? Footer CopyRoght
// ?
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $element-margin;
  border-top: solid 1px color(secondary);
  span {
    color: color(secondary, light);
    font-size: 1.2rem;
    padding: $link-padding;
  }
}

// * desktop List responsive

.footer-list {
  @include Desktop-xl {
    display: none;
  }
}

.footer-add-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-desk {
  width: fit-content !important;
  display: none;
  margin-right: $section-margin;
  @include Desktop-xl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  > div {
    &:not(:last-child) {
      margin-left: $section-margin;
    }
    > span {
      color: color(white);
      white-space: nowrap;
      width: fit-content;
      font-size: 2rem;
      line-height: 4.2rem;
    }
  }

  a {
    white-space: nowrap;
    width: fit-content;
    color: color(white, dark);
    transition: $main-transition;
    font-size: 1.8rem;
    &:hover {
      color: color(white);
    }
  }
}
