@import '../../scss/variables';
@import '../../scss/utilities';

// ? footer itself
.page-footer {
  width: 100%;
  position: relative;
  background-color: color(secondary, dark);
  padding-top: 1.5em;
  border-radius: 2em 2em 0 0;
}

// ?
// ? Footer Address
// ?
.footer-address {
  width: 100%;
  margin-top: $element-margin;
  display: flex;
  > div {
    height: 10em;
    padding: 1em 0.7em;
  }
}
.footer-icons {
  @include between(column);
  background-color: color(white);
  border-radius: 1em 0 0 1em;
  span img {
    height: 25px;
  }
}
.footer-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  span {
    color: color(white);
  }
}

// ?
// ? footer logo
// ?
.footer-logo {
  margin-top: $element-margin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
  }
}

// ?
// ? Footer CopyRoght
// ?
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $element-margin;
  border-top: solid 1px color(secondary);
  span {
    color: color(secondary, light);
    font-size: 1.2rem;
    padding: $link-padding;
  }
}
