@import '../../scss/variables';

.mobile-nav-links {
  background-color: color(black);
  a {
    color: color(white);
  }
}

.links > li {
  position: relative;
  padding: 1em 0;
  &:not(:last-child)::after {
    background-color: color(white, dark);
    @include box(100%, 1px);
    @include pseudo();
    bottom: 0;
  }

  // selecting li direct cillderen => a(links) and button and ul
  > * {
    text-align: right;
    width: 100%;
  }

  button {
    background-color: transparent;
    color: color(white);
    @include between();
    img {
      @include box(10px);
      transition: $main-transition;
      transform: rotateZ(90deg);
    }
  }

  // ul that toggles with buttons
  ul {
    margin-top: 1em;
    li:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

// for rotating arrow vector
.r0 {
  transform: rotateZ(0) !important;
}

// transition for toggle
.links li ul {
  transition: $main-transition;
  transform-origin: top;
}
