@import '../../scss/variables';

.nav-top-mobile {
  @include between();
  padding-top: 10px;
  padding-bottom: 10px;

  .ham-btn {
    background-color: transparent;
  }
  .logo {
    > svg {
      width: 120px;
      height: fit-content;
    }
  }
  img {
    display: block;
  }
}
