@import '../../scss/variables';

.nav-top-mobile {
  // transition: $main-transition;
  @include between();
  padding-top: 1em;
  padding-bottom: 1em;

  .ham-btn {
    background-color: transparent;
  }
  .logo {
    > svg {
      width: 120px;
      height: fit-content;
    }
  }
  img {
    display: block;
  }
}
