@font-face {
  font-family: bYekan;
  src: url(../font/Yekan.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: bYekan;
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
