//
// imports
//
@font-face {
  font-family: yekan;
  src: url(../font/IRANYekanRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: yekan;
  src: url(../font/IRANYekanBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: yekan;
  src: url(../font/IRANYekanLight.ttf);
  font-weight: 300;
}

//
// reseting
//
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: yekan;
  font-weight: 400;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: color(white);
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
input {
  font-family: yekan;
  outline: none;
  border: none;
}
button {
  font-family: yekan;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
