@import './variables';

.container {
  width: 100%;
  padding: $container-padding;
}

// classes for toggling width with butttons

.list-off {
  display: none;
}
.list-on {
  display: block;
}

.svg-fill-white {
  fill: color(white);
}
.svg-fill-black {
  fill: color(black);
}
