@import './variables';

.container {
  width: 100%;
  padding: $container-padding;
  @include Desktop-xl {
    padding: $desk-container-padding;
  }
}

.ltr {
  direction: ltr;
}

.left {
  text-align: left;
}
