//
// paddings
//
$container-padding: 0 1em;
// * mobile nav list padding
$list-padding: 1em;
// * a and button tag paddings in mobile nav list
$link-padding: 0.7em;

//
// margins
//

//
// transition
//
$main-transition: all 0.3s ease;
