// !
// ! height
// !
$navbar-height: 4.5em;
$shopCard-height: 17em;

// !
// ! paddings
// !
// * mobile container padding
$container-side-padding: 1em;
$container-padding: 0 $container-side-padding;

// * mobile button padding (for top & bottom not sides)
$m-btn-padding: 0.6em;

// * whole mobile nav menu padding
$list-padding: 1em;

// * a and button tag paddings in mobile nav list
$link-padding: $m-btn-padding 0;

// * search input padding
$serach-m-padding: $m-btn-padding 1.5em $m-btn-padding 4em;

// * button padding
$btn-padding: 0.6em 1.2em;

// !
// ! margins
// !
$element-margin: 1em;
$small-margin: 0.5em;
$section-margin: 2em;

// !
// ! radius
// !
// * search input radius
$search-m-radius: 5em;

// * button radius
$btn-radius: 1em;

// * shopCard radius
$shopCard-radius: 1em;


// !
// ! transition
// !
$main-transition: all 0.3s ease;
$secondary-transition: all 0.3s ease-in;

// !
// ! Shadow
// !
$cardShadow : -4px 4px 20px 0px #6D6D6D08;
