// !
// ! paddings
// !
// * mobile top & bottom button padding
$m-btn-padding: 0.6em;
$container-padding: 0 1em;
// * whole mobile nav list padding
$list-padding: 1em;
// * a and button tag paddings in mobile nav list
$link-padding: $m-btn-padding 0;

// * search input padding
$serach-m-padding: $m-btn-padding 1em $m-btn-padding 3.5em;

// !
// ! margins
// !
$element-margin: 1em;

// !
// ! radius
// !
// * search input radius
$search-m-radius: 5em;

// !
// ! transition
// !
$main-transition: all 0.3s ease;
$secondary-transition: all 0.3s ease-in;
