@import "./breakpoints";

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin between($direction: row) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin pseudo() {
  content: '';
  position: absolute;
  display: block;
}


@mixin fixedNav($bgColor: black) {
  overflow: scroll;
  background-color: color($bgColor);
  color: color(white);
  position: fixed;
  bottom: 0;
  top: 120%;
  right: 0;
  width: 100%;
  margin-top: -2.5em;
  z-index: 999;
}

// *Responsive* //


@mixin Desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}